# `virtual`: How to virtualize Redset

In [1]:
%load_ext autoreload
%autoreload 2

import virtual

# parquet_filepath = 's3://redshift-downloads/redset/serverless/sample_0.01.parquet'
parquet_filepath = '../../demo/data/redset-serverless.parquet'

### One-shot table virtualization

In [2]:
# Virtualize Parquet file stored on S3.
virtual.to_format(parquet_filepath, 'redset_virtual.parquet', model_types=['sparse-lr'], prefix='demo-debug/')

Running schema inference..
Drilling functions..
      instance_id  cluster_size  user_id  database_id  query_id  \
0              19             0        0            0    210701
1              19             0        0            0    590465
2             127             0        1            0     87545
3               0             0        0            0     60070
4              55             0        0            0     34184
...           ...           ...      ...          ...       ...
9995          153             0        0            0     43016
9996          104             0        0            0    414893
9997          104             0        0            0    865100
9998            1             0        1            0    118892
9999            1             0        3            0     89427

      compile_duration_ms  queue_duration_ms  execution_duration_ms  \
0                    57.0                  0                     62
1                   237.0                  0                    245
2                  6664.0                  0                   6666
3                   212.0                  0                    238
4                     0.0                  0                      3
...                   ...                ...                    ...
9995                 99.0                  0                    102
9996                 21.0                  0                     25
9997                169.0                  0                    176
9998                 26.0                  0                     30
9999                 25.0                  0                     28

      was_aborted  was_cached  cache_source_query_id  \
0               0           0                      0
1               0           0                      0
2               0           0                      0
3               0           0                      0
4               0           1                  72832
...           ...         ...                    ...
9995            0           0                      0
9996            0           0                      0
9997            0           0                      0
9998            0           0                      0
9999            0           0                      0

      num_permanent_tables_accessed  num_external_tables_accessed  \
0                               3.0                           0.0
1                               1.0                           0.0
2                               1.0                           0.0
3                               1.0                           0.0
4                               0.0                           0.0
...                             ...                           ...
9995                            1.0                           0.0
9996                            1.0                           0.0
9997                            1.0                           0.0
9998                            1.0                           0.0
9999                            1.0                           0.0

      num_system_tables_accessed  mbytes_scanned  mbytes_spilled  num_joins  \
0                            0.0          2185.0             0.0          0
1                            0.0             0.0             0.0          0
2                            0.0         14592.0             0.0          0
3                            0.0          1701.0             0.0          0
4                            0.0             0.0             0.0          0
...                          ...             ...             ...        ...
9995                         0.0           715.0             0.0          0
9996                         0.0            12.0             0.0          0
9997                         0.0          2560.0             0.0          0
9998                         0.0           216.0             0.0          0
9999                         0.0            42.0             0.0          0

      num_scans  num_aggregations
0             1                 2
1             0                 2
2             0                 2
3             1                 2
4             0                 0
...         ...               ...
9995          1                 2
9996          1                 2
9997          0                 2
9998          0                 2
9999          0                 2

[10000 rows x 19 columns]

BBBBBBBBB >>>instance_id
[1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
instance_id

BBBBBBBBB >>>cluster_size
[0, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
cluster_size

BBBBBBBBB >>>user_id
[0, 1, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
user_id

BBBBBBBBB >>>database_id
[0, 1, 2, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
database_id

BBBBBBBBB >>>query_id
[0, 1, 2, 3, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
query_id

BBBBBBBBB >>>compile_duration_ms
[0, 1, 2, 3, 4, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
compile_duration_ms

BBBBBBBBB >>>queue_duration_ms
[0, 1, 2, 3, 4, 6, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
queue_duration_ms

BBBBBBBBB >>>execution_duration_ms
[0, 1, 2, 3, 4, 6, 7, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
execution_duration_ms

BBBBBBBBB >>>was_aborted
[0, 1, 2, 3, 4, 6, 7, 8, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
was_aborted

BBBBBBBBB >>>was_cached
[0, 1, 2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
was_cached

BBBBBBBBB >>>cache_source_query_id
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
cache_source_query_id

BBBBBBBBB >>>num_permanent_tables_accessed
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_permanent_tables_accessed

BBBBBBBBB >>>num_external_tables_accessed
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_external_tables_accessed

BBBBBBBBB >>>num_system_tables_accessed
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_system_tables_accessed

BBBBBBBBB >>>mbytes_scanned
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
mbytes_scanned

BBBBBBBBB >>>mbytes_spilled
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'num_joins', 'num_scans', 'num_aggregations']
mbytes_spilled

BBBBBBBBB >>>num_joins
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_scans', 'num_aggregations']
num_joins

BBBBBBBBB >>>num_scans
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 23]

### Compare to vanilla `Parquet`

In [3]:
%load_ext autoreload
%autoreload 2

import os
import demo_util
%pip install requests

table = os.path.splitext(os.path.basename(parquet_filepath))[0]
print(f'[{table}] Parquet size: {demo_util.get_file_size(parquet_filepath) / 1_000_000} MB')
print(f'[{table}] Virtual size: {os.path.getsize('redset_virtual.parquet') / 1_000_000} MB')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Requirement already satisfied: requests in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.
[redset-serverless] Parquet size: 322.619676 MB
[redset-serverless] Virtual size: 314.556389 MB

### Query the vanilla Parquet file

In [4]:
import duckdb

duckdb.sql(f'select num_joins, count(*) from read_parquet("{parquet_filepath}") group by num_joins order by num_joins;').fetchdf()

     num_joins  count_star()
0            0       6118504
1            1       1433559
2            2        544264
3            3         41863
4            4          6899
..         ...           ...
128        199            14
129        206             1
130        207           223
131        210             3
132        211            22

[133 rows x 2 columns]

### Query the virtualized Parquet file

In [5]:
virtual.query(
  'select num_joins, count(*) from read_parquet("redset_virtual.parquet") group by num_joins order by num_joins',
  engine = 'duckdb'
)

     num_joins  count_star()
0            0       6118504
1            1       1433559
2            2        544264
3            3         41863
4            4          6899
..         ...           ...
128        199            14
129        206             1
130        207           223
131        210             3
132        211            22

[133 rows x 2 columns]