# `virtual`: How to virtualize Redset

In [1]:
%reload_ext autoreload
%autoreload 2

import virtual

s3_parquet_filepath = 's3://redshift-downloads/redset/serverless/sample_0.01.parquet'
# s3_parquet_filepath = '../../demo/data/redset-serverless.parquet'

### One-shot table compression

In [2]:
# Virtualize Parquet file stored on S3.
virtual.to_format(s3_parquet_filepath,'redset_virtual.parquet', schema='./demo-debug/schema_redset-serverless.json', model_types=['sparse-lr'], prefix='demo-debug/')

Drilling functions..
[[104.   0.   0. ...   1.   2.   3.]
 [104.   0.   0. ...   1.   2.   3.]
 [104.   0.   0. ...   0.   0.   2.]
 ...
 [104.   0.   0. ...   0.   0.   2.]
 [ 19.   0.   0. ...   1.   2.   2.]
 [134.   0.   0. ...   0.   0.   2.]]
We found 9 function(s) in your table.
Creating the virtual file..

### Compare to vanilla `Parquet`

In [3]:
import os
import demo_util
%pip install requests

print(f'Redset parquet size: {demo_util.get_file_size(s3_parquet_filepath) / 1_000_000} MB')
print(f'Redset virtual size: {os.path.getsize('redset_virtual.parquet') / 1_000_000} MB')

Requirement already satisfied: requests in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.
Redset parquet size: 4.90608 MB
Redset virtual size: 4.762818 MB

### Query the vanilla Parquet file

In [4]:
import duckdb

duckdb.sql(f'select num_scans, count(*) from read_parquet("{s3_parquet_filepath}") group by num_scans order by num_scans;').fetchdf()

    num_scans  count_star()
0           0         49983
1           1         21967
2           2          9025
3           3           387
4           4           323
5           5            74
6           6            39
7           7            80
8           8            33
9           9            22
10         10            65
11         11            65
12         12            32
13         13            52
14         14            14
15         15             6
16         16            22
17         17             5
18         18             5
19         19            14
20         20             7
21         21             2
22         24             4
23         25             2
24         26             3
25         28            12
26         29            58
27         30             2
28         31             3
29         32             5
30         34             3
31         35             3
32         36             9
33         37            11
34         38             3
35         39            26
36         40             6
37         41             1
38         42             1
39         43            19
40         44             1
41         46            16
42         47             1
43         53             1
44         56             1
45         68             2
46         72             3
47         82             7
48         88             2
49         90             1
50        104             1
51        120             3
52        121             1
53        144             1
54        153             1
55        168             2
56        199             1
57        225             5
58        226             1

### Query the virtualized Parquet file

In [5]:
virtual.query(
  'select num_scans, count(*) from read_parquet("redset_virtual.parquet") group by num_scans order by num_scans',
  engine = 'duckdb'
)

    num_scans  count_star()
0           0         49983
1           1         21967
2           2          9025
3           3           387
4           4           323
5           5            74
6           6            39
7           7            80
8           8            33
9           9            22
10         10            65
11         11            65
12         12            32
13         13            52
14         14            14
15         15             6
16         16            22
17         17             5
18         18             5
19         19            14
20         20             7
21         21             2
22         24             4
23         25             2
24         26             3
25         28            12
26         29            58
27         30             2
28         31             3
29         32             5
30         34             3
31         35             3
32         36             9
33         37            11
34         38             3
35         39            26
36         40             6
37         41             1
38         42             1
39         43            19
40         44             1
41         46            16
42         47             1
43         53             1
44         56             1
45         68             2
46         72             3
47         82             7
48         88             2
49         90             1
50        104             1
51        120             3
52        121             1
53        144             1
54        153             1
55        168             2
56        199             1
57        225             5
58        226             1