# `virtual`: How to virtualize Redset

In [1]:
%load_ext autoreload
%autoreload 2

import virtual

# s3_parquet_filepath = 's3://redshift-downloads/redset/serverless/sample_0.01.parquet'
s3_parquet_filepath = '../../demo/data/redset-serverless.parquet'

### One-shot table compression

In [2]:
# Virtualize Parquet file stored on S3.
virtual.to_format(s3_parquet_filepath, 'redset_virtual.parquet', model_types=['sparse-lr'], prefix='demo-debug/')

Running schema inference..
Drilling functions..
      instance_id  cluster_size  user_id  database_id  query_id  \
0              19             0        0            0    210701
1              19             0        0            0    590465
2             127             0        1            0     87545
3               0             0        0            0     60070
4              55             0        0            0     34184
...           ...           ...      ...          ...       ...
9995          153             0        0            0     43016
9996          104             0        0            0    414893
9997          104             0        0            0    865100
9998            1             0        1            0    118892
9999            1             0        3            0     89427

      compile_duration_ms  queue_duration_ms  execution_duration_ms  \
0                    57.0                  0                     62
1                   237.0                  0                    245
2                  6664.0                  0                   6666
3                   212.0                  0                    238
4                     0.0                  0                      3
...                   ...                ...                    ...
9995                 99.0                  0                    102
9996                 21.0                  0                     25
9997                169.0                  0                    176
9998                 26.0                  0                     30
9999                 25.0                  0                     28

      was_aborted  was_cached  cache_source_query_id  \
0               0           0                      0
1               0           0                      0
2               0           0                      0
3               0           0                      0
4               0           1                  72832
...           ...         ...                    ...
9995            0           0                      0
9996            0           0                      0
9997            0           0                      0
9998            0           0                      0
9999            0           0                      0

      num_permanent_tables_accessed  num_external_tables_accessed  \
0                               3.0                           0.0
1                               1.0                           0.0
2                               1.0                           0.0
3                               1.0                           0.0
4                               0.0                           0.0
...                             ...                           ...
9995                            1.0                           0.0
9996                            1.0                           0.0
9997                            1.0                           0.0
9998                            1.0                           0.0
9999                            1.0                           0.0

      num_system_tables_accessed  mbytes_scanned  mbytes_spilled  num_joins  \
0                            0.0          2185.0             0.0          0
1                            0.0             0.0             0.0          0
2                            0.0         14592.0             0.0          0
3                            0.0          1701.0             0.0          0
4                            0.0             0.0             0.0          0
...                          ...             ...             ...        ...
9995                         0.0           715.0             0.0          0
9996                         0.0            12.0             0.0          0
9997                         0.0          2560.0             0.0          0
9998                         0.0           216.0             0.0          0
9999                         0.0            42.0             0.0          0

      num_scans  num_aggregations
0             1                 2
1             0                 2
2             0                 2
3             1                 2
4             0                 0
...         ...               ...
9995          1                 2
9996          1                 2
9997          0                 2
9998          0                 2
9999          0                 2

[10000 rows x 19 columns]
BBBBBBBBB
[1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
instance_id
52.47814011780867
BBBBBBBBB
[0, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
cluster_size
0.0
BBBBBBBBB
[0, 1, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
user_id
8.02702613527443
BBBBBBBBB
[0, 1, 2, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
database_id
0.6748108994476834
[{'feature': 0, 'diff': 0.015980212118654524}, {'feature': 12, 'diff': 0.0079883043536072}, {'feature': 16, 'diff': 0.006408792490272486}, {'feature': 15, 'diff': 0.005828096725907339}, {'feature': 11, 'diff': 0.005827293872062933}, {'feature': 8, 'diff': 0.005759173525141215}, {'feature': 17, 'diff': 0.0056692129247089}, {'feature': 7, 'diff': 0.005653123662491821}, {'feature': 6, 'diff': 0.005624681530381315}, {'feature': 4, 'diff': 0.005624377439101713}, {'feature': 10, 'diff': 0.005609529976973837}, {'feature': 2, 'diff': 0.0056087965120698025}]
BBBBBBBBB
[0, 1, 2, 3, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
query_id
355421.1315528952
BBBBBBBBB
[0, 1, 2, 3, 4, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
compile_duration_ms
3698.5978174338206
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
queue_duration_ms
74476.24633551759
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
execution_duration_ms
3701.7115424970902
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
was_aborted
0.08884479166949327
[{'feature': 17, 'diff': 0.0005805417607830515}, {'feature': 15, 'diff': 0.0003317777874178862}, {'feature': 8, 'diff': 0.00031758126899487926}, {'feature': 10, 'diff': 0.00031651259204924787}, {'feature': 12, 'diff': 0.0002684262460004444}, {'feature': 0, 'diff': 0.000265431927756965}, {'feature': 11, 'diff': 0.00022799491033224928}, {'feature': 3, 'diff': 0.0001894548292912801}, {'feature': 16, 'diff': 0.0001853637084451576}, {'feature': 2, 'diff': 0.00018360012361334777}]
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
was_cached
0.1336943332885252
[{'feature': 9, 'diff': 0.05757707378853388}, {'feature': 17, 'diff': 0.004918820509277694}, {'feature': 10, 'diff': 0.0028922421808836307}, {'feature': 15, 'diff': 0.00279841368749717}, {'feature': 12, 'diff': 0.0016531459021945083}, {'feature': 8, 'diff': 0.0010847734741656623}, {'feature': 11, 'diff': 0.0010136155777383249}, {'feature': 3, 'diff': 0.000998134219658331}, {'feature': 2, 'diff': 0.000995650406224291}, {'feature': 0, 'diff': 0.0009906517300812268}, {'feature': 16, 'diff': 0.0009906072282621636}]
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
cache_source_query_id
32882.88632341077
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_permanent_tables_accessed
6.06727435298948
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_external_tables_accessed
1.1886209849921694
[{'feature': 17, 'diff': 0.017058190461418654}, {'feature': 16, 'diff': 0.014399662138711244}, {'feature': 7, 'diff': 0.005859579044108054}, {'feature': 5, 'diff': 0.005842498329768908}, {'feature': 11, 'diff': 0.005553719557592984}, {'feature': 0, 'diff': 0.004606930523658681}, {'feature': 12, 'diff': 0.004517192876033693}, {'feature': 8, 'diff': 0.0030366561264982828}, {'feature': 9, 'diff': 0.0030361658515387635}, {'feature': 3, 'diff': 0.002854601960252001}, {'feature': 15, 'diff': 0.0026170638664195778}, {'feature': 2, 'diff': 0.0025189408978278927}]
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'was_aborted', 'was_cached', 'cache_source_query_id', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
num_system_tables_accessed
2.725573192984497
[{'feature': 15, 'diff': 0.35464907287093084}, {'feature': 16, 'diff': 0.16148066113218906}, {'feature': 11, 'diff': 0.12620001438696038}, {'feature': 17, 'diff': 0.06439075787049564}, {'feature': 9, 'diff': 0.04497656622873336}, {'feature': 0, 'diff': 0.036809515456874387}, {'feature': 3, 'diff': 0.027748696807657236}, {'feature': 12, 'diff': 0.02274563986642919}, {'feature': 8, 'diff': 0.020599585672784304}, {'feature': 13, 'diff': 0.02044314443350359}, {'feature': 2, 'diff': 0.01826583729249842}, {'feature': 5, 'diff': 0.01795689771253839}, {'feature': 7, 'diff': 0.0179568292032517}]
BBBBBBBBB
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 20, 21, 22, 23]

### Compare to vanilla `Parquet`

In [3]:
%load_ext autoreload
%autoreload 2

import os
import demo_util
%pip install requests

print(f'Redset parquet size: {demo_util.get_file_size(s3_parquet_filepath) / 1_000_000} MB')
print(f'Redset virtual size: {os.path.getsize('redset_virtual.parquet') / 1_000_000} MB')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Requirement already satisfied: requests in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.
Redset parquet size: 322.619676 MB
Redset virtual size: 314.716616 MB

### Query the vanilla Parquet file

In [4]:
import duckdb

duckdb.sql(f'select num_joins, count(*) from read_parquet("{s3_parquet_filepath}") group by num_joins order by num_joins;').fetchdf()

     num_joins  count_star()
0            0       6118504
1            1       1433559
2            2        544264
3            3         41863
4            4          6899
..         ...           ...
128        199            14
129        206             1
130        207           223
131        210             3
132        211            22

[133 rows x 2 columns]

### Query the virtualized Parquet file

In [5]:
virtual.query(
  'select num_joins, count(*) from read_parquet("redset_virtual.parquet") group by num_joins order by num_joins',
  engine = 'duckdb'
)

,"COALESCE(num_joins_outlier, (CAST(round(((0.1735 * num_permanent_tables_accessed) + 0.2533), 0) AS BIGINT) + num_joins_offset))",count_star()
0,0,6118504
1,1,1433559
2,2,544264
3,3,41863
4,4,6899
...,...,...
128,199,14
129,206,1
130,207,223
131,210,3
132,211,22