# `virtual`: How to virtualize Redset

In [1]:
%reload_ext autoreload
%autoreload 2

import virtual

s3_parquet_filepath = 's3://redshift-downloads/redset/serverless/full.parquet'

### One-Shot table compression

In [2]:
# Virtualize Parquet file stored on S3.
virtual.to_format(s3_parquet_filepath, 'redset_virtual.parquet', model_types=['sparse-lr'], prefix='demo-debug/')

Running schema inference..
Drilling functions..
[{'name': 'instance_id', 'type': 'INTEGER'}, {'name': 'cluster_size', 'type': 'INTEGER'}, {'name': 'user_id', 'type': 'BIGINT'}, {'name': 'database_id', 'type': 'BIGINT'}, {'name': 'query_id', 'type': 'BIGINT'}, {'name': 'arrival_timestamp', 'type': 'TIMESTAMP'}, {'name': 'compile_duration_ms', 'type': 'DOUBLE'}, {'name': 'queue_duration_ms', 'type': 'BIGINT'}, {'name': 'execution_duration_ms', 'type': 'BIGINT'}, {'name': 'feature_fingerprint', 'type': 'VARCHAR'}, {'name': 'was_aborted', 'type': 'INTEGER'}, {'name': 'was_cached', 'type': 'INTEGER'}, {'name': 'cache_source_query_id', 'type': 'INTEGER'}, {'name': 'query_type', 'type': 'VARCHAR'}, {'name': 'num_permanent_tables_accessed', 'type': 'DOUBLE'}, {'name': 'num_external_tables_accessed', 'type': 'DOUBLE'}, {'name': 'num_system_tables_accessed', 'type': 'DOUBLE'}, {'name': 'read_table_ids', 'type': 'VARCHAR'}, {'name': 'write_table_ids', 'type': 'VARCHAR'}, {'name': 'mbytes_scanned', 'type': 'DOUBLE'}, {'name': 'mbytes_spilled', 'type': 'DOUBLE'}, {'name': 'num_joins', 'type': 'BIGINT'}, {'name': 'num_scans', 'type': 'BIGINT'}, {'name': 'num_aggregations', 'type': 'BIGINT'}]
{'date': ['arrival_timestamp'], 'string': ['feature_fingerprint', 'query_type', 'read_table_ids', 'write_table_ids'], 'boolean': []}
['instance_id', 'cluster_size', 'user_id', 'database_id', 'query_id', 'arrival_timestamp', 'compile_duration_ms', 'queue_duration_ms', 'execution_duration_ms', 'feature_fingerprint', 'was_aborted', 'was_cached', 'cache_source_query_id', 'query_type', 'num_permanent_tables_accessed', 'num_external_tables_accessed', 'num_system_tables_accessed', 'read_table_ids', 'write_table_ids', 'mbytes_scanned', 'mbytes_spilled', 'num_joins', 'num_scans', 'num_aggregations']
[0, 1, 2, 3, 4, 6, 7, 8, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23]
(10000, 19)
We found 10 function(s) in your table.
      instance_id  cluster_size  user_id  database_id  query_id  \
0               0          <NA>        0            0     25448
1               0          <NA>        0            0     25159
2               0          <NA>        0            0     24597
3               0          <NA>        0            0     25490
4               0          <NA>        0            0     24877
...           ...           ...      ...          ...       ...
9995            0          <NA>        3            0    107691
9996            0          <NA>        3            0    115545
9997            0          <NA>        0            0    120479
9998            0          <NA>        3            0     98631
9999            0          <NA>        3            0    110828

              arrival_timestamp  compile_duration_ms  queue_duration_ms  \
0    2024-03-01 01:00:41.163005                 28.0                  0
1    2024-03-01 01:00:44.400722               2725.0                  0
2    2024-03-01 01:00:48.484987                 27.0                  0
3    2024-03-01 01:00:57.852767                 36.0                  0
4    2024-03-01 01:01:02.367768                 29.0                  0
...                         ...                  ...                ...
9995 2024-03-08 11:18:56.833071             148194.0                  0
9996 2024-03-08 11:18:56.870029                 67.0                  0
9997 2024-03-08 11:18:58.058621               9181.0                  0
9998 2024-03-08 11:18:59.065627                268.0                  0
9999 2024-03-08 11:18:59.203680                719.0                  0

      execution_duration_ms  \
0                        34
1                      2727
2                        29
3                        38
4                        32
...                     ...
9995                 148197
9996                     70
9997                   9206
9998                    289
9999                    745

                                    feature_fingerprint  ...  \
0     ff143c67a00cf062638be39358e98b7bd73aa44867cfd9...  ...
1     006ba9bf8dfb0a6cb1ef3942c1f373c084314f31d3a2be...  ...
2     e99aa08486888a10a3bb44bb2f86c3e5a4ba6a99cb0f6e...  ...
3     21ada5c943c47506701c920ec9463b0d9d12ac1e14a9c1...  ...
4     a8100b1ec24ef187882f39612ae39dd688bb6a4cf5c6b6...  ...
...                                                 ...  ...
9995  f7775696c89939a0bebf7c7c47813acaa756d2acb690ea...  ...
9996  0530383d42460668273eda4c18167dec3cd9032c047a70...  ...
9997  c328e4c1d0346171a1bdc8746fafa2cf198dd049c0c944...  ...
9998  df98ed94447842e024f25081585522a1b0542605958eac...  ...
9999  e23766700f1ba5ef7b08f5b82abd0947a9e5f5c38310be...  ...

      num_permanent_tables_accessed  num_external_tables_accessed  \
0                               2.0                           0.0
1                               5.0                           4.0
2                               3.0                           0.0
3                               3.0                           0.0
4                               3.0                           0.0
...                             ...                           ...
9995                            2.0                           0.0
9996                            1.0                           0.0
9997                            1.0                           0.0
9998                            1.0                           0.0
9999                            1.0                           0.0

      num_system_tables_accessed read_table_ids  write_table_ids  \
0                            0.0             12               13
1                            0.0             26               19
2                            0.0             13               50
3                            0.0             19               63
4                            0.0             19               35
...                          ...            ...              ...
9995                         0.0         112,33              112
9996                         0.0             33             None
9997                         0.0             65             None
9998                         0.0             48               48
9999                         0.0           None               48

      mbytes_scanned  mbytes_spilled num_joins num_scans  num_aggregations
0                0.0             0.0         0         1                 2
1               77.0             0.0         1         1                 2
2                0.0             0.0         0         1                 2
3                0.0             0.0         0         1                 2
4                0.0             0.0         0         1                 2
...              ...             ...       ...       ...               ...
9995        115293.0             0.0         1         2                 2
9996           328.0             0.0         0         1                 2
9997          4309.0             0.0         0         1                 2
9998            98.0             0.0         2         3                 2
9999           140.0             0.0         0         0                 2

[10000 rows x 24 columns]

### Compare to vanilla `Parquet`

In [3]:
import os
import demo_util
%pip install requests

print(f'Redset parquet size: {demo_util.get_public_s3_file_size(s3_parquet_filepath) / 1_000_000} MB')
print(f'Redset virtual size: {os.path.getsize('redset_virtual.parquet') / 1_000_000} MB')

Requirement already satisfied: requests in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mihail/Documents/utn/hf/virtual/.venv/lib/python3.13/site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.
Redset parquet size: 322.619676 MB
Redset virtual size: 314.702683 MB

### Query the vanilla Parquet file

In [4]:
import duckdb

duckdb.sql(f'select num_scans, count(*) from read_parquet("{s3_parquet_filepath}") group by num_scans order by num_scans;').fetchdf()

     num_scans  count_star()
0            0       4992205
1            1       2191086
2            2        910544
3            3         37527
4            4         33871
..         ...           ...
123        226            63
124        246             4
125        261             3
126        262            22
127        328             1

[128 rows x 2 columns]

### Query the virtualized Parquet file

In [5]:
virtual.query(
  'select num_scans, count(*) from read_parquet("redset_virtual.parquet") group by num_scans order by num_scans',
  engine = 'duckdb'
)

,"COALESCE(num_scans_outlier, (CAST(round((((((((((((0.0024 * instance_id) + (-0.0003 * user_id)) + (-0.1212 * database_id)) + (0.0754 * was_aborted)) + (0.2777 * was_cached)) + (-0.0114 * num_permanent_tables_accessed)) + (-0.0937 * num_external_tables_accessed)) + (-0.1652 * num_system_tables_accessed)) + (0.4646 * num_joins)) + (0.4077 * num_aggregations)) + -0.4392), 0) AS BIGINT) + num_scans_offset))",count_star()
0,0,4992205
1,1,2191086
2,2,910544
3,3,37527
4,4,33871
...,...,...
123,226,63
124,246,4
125,261,3
126,262,22
127,328,1