# `virtual`: CSV Demo

In [1]:
%reload_ext autoreload
%autoreload 2

import virtual

csv_filepath = 'example.csv'

### One-Shot Table Compression

In [2]:
# Save in Parquet format.
virtual.to_format(csv_filepath, 'example_virtual.csv', model_types=['sparse-lr'], prefix='demo-debug/')

Schema
[{'name': 'Earnings Year', 'type': 'BIGINT', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Department', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Employee Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Position Title', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Union Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular or Temporary', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Full or Part Time', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}, {'name': 'Overtime Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 7}, {'name': 'Total Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}]
[{'name': 'Earnings Year', 'type': 'BIGINT', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Department', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Employee Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Position Title', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Union Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular or Temporary', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Full or Part Time', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}, {'name': 'Overtime Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 7}, {'name': 'Total Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}]
train
start virtualize
[{'name': 'Earnings Year', 'type': 'BIGINT'}, {'name': 'Department', 'type': 'VARCHAR'}, {'name': 'Employee Name', 'type': 'VARCHAR'}, {'name': 'Position Title', 'type': 'VARCHAR'}, {'name': 'Union Name', 'type': 'VARCHAR'}, {'name': 'Regular or Temporary', 'type': 'VARCHAR'}, {'name': 'Full or Part Time', 'type': 'VARCHAR'}, {'name': 'Regular Earnings', 'type': 'DOUBLE'}, {'name': 'Overtime Earnings', 'type': 'DOUBLE'}, {'name': 'Total Earnings', 'type': 'DOUBLE'}]
{'date': [], 'string': ['Department', 'Employee Name', 'Position Title', 'Union Name', 'Regular or Temporary', 'Full or Part Time'], 'boolean': []}
['Earnings Year', 'Department', 'Employee Name', 'Position Title', 'Union Name', 'Regular or Temporary', 'Full or Part Time', 'Regular Earnings', 'Overtime Earnings', 'Total Earnings']
[0, 7, 8, 9]
(999, 4)
We found 4 function(s) in your table.
[{'target_index': 0, 'target_name': 'Earnings Year', 'target_stats': {'mean': np.float64(2019.6546546546547), 'max': 2022.0, 'min': 2010.0}, 'models': {'sparse-lr': {'mse': 1.8555809279793825, 'intercept': np.float64(2019.5465662140489), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(3.558039090430056e-05)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(2.4922623337265483e-06)}]}}}, {'target_index': 7, 'target_name': 'Regular Earnings', 'target_stats': {'mean': np.float64(31553.40951951952), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 3.160278351151207e-11, 'intercept': np.float64(1.0913936421275139e-11), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(-0.9999999999999851)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(0.9999999999999993)}]}}}, {'target_index': 8, 'target_name': 'Overtime Earnings', 'target_stats': {'mean': np.float64(773.4965665665667), 'max': 21905.28, 'min': 0.0}, 'models': {'sparse-lr': {'mse': 6.902824566617844e-12, 'intercept': np.float64(8.526512829121202e-12), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(-1.0000000000000013)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(1.000000000000001)}]}}}, {'target_index': 9, 'target_name': 'Total Earnings', 'target_stats': {'mean': np.float64(32326.906086086085), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 1.277106715403009e-11, 'intercept': np.float64(-1.4551915228366852e-11), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(1.0000000000000004)}, {'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(1.0000000000000007)}]}}}]
[{'target_index': 0, 'target_name': 'Earnings Year', 'target_stats': {'mean': np.float64(2019.6546546546547), 'max': 2022.0, 'min': 2010.0}, 'models': {'sparse-lr': {'mse': 1.8555809279793825, 'intercept': np.float64(2019.5465662140489), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(3.558039090430056e-05)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(2.4922623337265483e-06)}]}}}, {'target_index': 7, 'target_name': 'Regular Earnings', 'target_stats': {'mean': np.float64(31553.40951951952), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 3.160278351151207e-11, 'intercept': np.float64(1.0913936421275139e-11), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(-0.9999999999999851)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(0.9999999999999993)}]}}}, {'target_index': 8, 'target_name': 'Overtime Earnings', 'target_stats': {'mean': np.float64(773.4965665665667), 'max': 21905.28, 'min': 0.0}, 'models': {'sparse-lr': {'mse': 6.902824566617844e-12, 'intercept': np.float64(8.526512829121202e-12), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(-1.0000000000000013)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(1.000000000000001)}]}}}, {'target_index': 9, 'target_name': 'Total Earnings', 'target_stats': {'mean': np.float64(32326.906086086085), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 1.277106715403009e-11, 'intercept': np.float64(-1.4551915228366852e-11), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(1.0000000000000004)}, {'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(1.0000000000000007)}]}}}]
                 0                         1                     2  \
0    Earnings Year                Department         Employee Name
1             2010                       Law         Allen,Marcy E
2             2010     Health-Administration       Peeling,Carol A
3             2010     Health-Administration      Picciano,Cindy L
4             2010     Health-Administration      Picciano,Cindy L
..             ...                       ...                   ...
995           2020  Probation-Administration      Foulke,Melissa G
996           2020  Probation-Administration        Gale,Lindsey E
997           2020  Probation-Administration  Garren,Jennifer Lynn
998           2020  Probation-Administration        Gill,Jeffrey M
999           2020  Probation-Administration       Green,William M

                               3                              4  \
0                 Position Title                     Union Name
1                      Secretary   Excluded Personnel (Admin I)
2       Spvg Public Health Nurse  Br Admin & Professional Assoc
3                  Sr Accountant      Non Union Equivalent - 07
4                  Sr Accountant  Br Admin & Professional Assoc
..                           ...                            ...
995       Probation Supervisor 1  Br Admin & Professional Assoc
996          Keyboard Specialist     CSEA Local 6150, Full-time
997          Keyboard Specialist     CSEA Local 6150, Full-time
998       Probation Supervisor 1  Br Admin & Professional Assoc
999  Probation Off 2/Sr Prob Off     CSEA Local 6150, Full-time

                        5                  6                 7  \
0    Regular or Temporary  Full or Part Time  Regular Earnings
1                       R                  F          38578.75
2                       R                  P          45259.79
3                       T                  P           1058.94
4                       R                  F          43137.16
..                    ...                ...               ...
995                     R                  F          69447.10
996                     R                  F          31920.79
997                     R                  F          25085.93
998                     R                  F          63575.63
999                     R                  F          62013.04

                     8               9
0    Overtime Earnings  Total Earnings
1                 0.00        38578.75
2                 0.00        45259.79
3                 0.00         1058.94
4                 7.67        43144.83
..                 ...             ...
995              67.07        69514.17
996               0.00        31920.79
997               0.00        25085.93
998             247.39        63823.02
999             285.13        62298.17

[1000 rows x 10 columns]
[{'target_index': 0, 'target_name': 'Earnings Year', 'target_stats': {'mean': np.float64(2019.6546546546547), 'max': 2022.0, 'min': 2010.0}, 'models': {'sparse-lr': {'mse': 1.8555809279793825, 'intercept': np.float64(2019.5465662140489), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(3.558039090430056e-05)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(2.4922623337265483e-06)}]}}, 'sizes': {'sparse-lr': {'base': 595, 'virtual': 620}}}, {'target_index': 7, 'target_name': 'Regular Earnings', 'target_stats': {'mean': np.float64(31553.40951951952), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 3.160278351151207e-11, 'intercept': np.float64(1.0913936421275139e-11), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(-0.9999999999999851)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(0.9999999999999993)}]}}, 'sizes': {'sparse-lr': {'base': 7440, 'virtual': 544}}}, {'target_index': 8, 'target_name': 'Overtime Earnings', 'target_stats': {'mean': np.float64(773.4965665665667), 'max': 21905.28, 'min': 0.0}, 'models': {'sparse-lr': {'mse': 6.902824566617844e-12, 'intercept': np.float64(8.526512829121202e-12), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(-1.0000000000000013)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(1.000000000000001)}]}}, 'sizes': {'sparse-lr': {'base': 2855, 'virtual': 546}}}, {'target_index': 9, 'target_name': 'Total Earnings', 'target_stats': {'mean': np.float64(32326.906086086085), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 1.277106715403009e-11, 'intercept': np.float64(-1.4551915228366852e-11), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(1.0000000000000004)}, {'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(1.0000000000000007)}]}}, 'sizes': {'sparse-lr': {'base': 7463, 'virtual': 540}}}]
{'greedy': {'obj-value': 6923, 'chosen': [{'target_index': 9, 'target_name': 'Total Earnings', 'model_type': 'sparse-lr', 'sparse-lr': {'mse': 1.277106715403009e-11, 'intercept': np.float64(-1.4551915228366852e-11), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(1.0000000000000004)}, {'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(1.0000000000000007)}]}, 'left': [7, 8], 'right': 9, 'gain': 6923}], 'time': 1.1920928955078125e-05}}

### Compare to vanilla CSV

In [3]:
import os

print(f'CSV: {os.path.getsize('example.csv')} bytes')
print(f'Virtual: {os.path.getsize('example_virtual.csv')} bytes')

CSV: 122375 bytes
Virtual: 112833 bytes

### Exploring functions

In [4]:
# Drill the functions.
functions = virtual.train(csv_filepath, model_types=['sparse-lr'], prefix='./demo-debug/')

functions

start virtualize
[{'name': 'Earnings Year', 'type': 'BIGINT'}, {'name': 'Department', 'type': 'VARCHAR'}, {'name': 'Employee Name', 'type': 'VARCHAR'}, {'name': 'Position Title', 'type': 'VARCHAR'}, {'name': 'Union Name', 'type': 'VARCHAR'}, {'name': 'Regular or Temporary', 'type': 'VARCHAR'}, {'name': 'Full or Part Time', 'type': 'VARCHAR'}, {'name': 'Regular Earnings', 'type': 'DOUBLE'}, {'name': 'Overtime Earnings', 'type': 'DOUBLE'}, {'name': 'Total Earnings', 'type': 'DOUBLE'}]
{'date': [], 'string': ['Department', 'Employee Name', 'Position Title', 'Union Name', 'Regular or Temporary', 'Full or Part Time'], 'boolean': []}
['Earnings Year', 'Department', 'Employee Name', 'Position Title', 'Union Name', 'Regular or Temporary', 'Full or Part Time', 'Regular Earnings', 'Overtime Earnings', 'Total Earnings']
[0, 7, 8, 9]
(999, 4)
We found 4 function(s) in your table.
[{'target_index': 0, 'target_name': 'Earnings Year', 'target_stats': {'mean': np.float64(2019.6546546546547), 'max': 2022.0, 'min': 2010.0}, 'models': {'sparse-lr': {'mse': 1.8555809279793825, 'intercept': np.float64(2019.5465662140489), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(3.558039090430056e-05)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(2.4922623337265483e-06)}]}}}, {'target_index': 7, 'target_name': 'Regular Earnings', 'target_stats': {'mean': np.float64(31553.40951951952), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 3.160278351151207e-11, 'intercept': np.float64(1.0913936421275139e-11), 'coeffs': [{'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(-0.9999999999999851)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(0.9999999999999993)}]}}}, {'target_index': 8, 'target_name': 'Overtime Earnings', 'target_stats': {'mean': np.float64(773.4965665665667), 'max': 21905.28, 'min': 0.0}, 'models': {'sparse-lr': {'mse': 6.902824566617844e-12, 'intercept': np.float64(8.526512829121202e-12), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(-1.0000000000000013)}, {'col-index': 9, 'col-name': 'Total Earnings', 'coeff': np.float64(1.000000000000001)}]}}}, {'target_index': 9, 'target_name': 'Total Earnings', 'target_stats': {'mean': np.float64(32326.906086086085), 'max': 202038.13, 'min': 0.78}, 'models': {'sparse-lr': {'mse': 1.277106715403009e-11, 'intercept': np.float64(-1.4551915228366852e-11), 'coeffs': [{'col-index': 7, 'col-name': 'Regular Earnings', 'coeff': np.float64(1.0000000000000004)}, {'col-index': 8, 'col-name': 'Overtime Earnings', 'coeff': np.float64(1.0000000000000007)}]}}}]

[{'target_index': 0,
  'target_name': 'Earnings Year',
  'target_stats': {'mean': np.float64(2019.6546546546547),
   'max': 2022.0,
   'min': 2010.0},
  'models': {'sparse-lr': {'mse': 1.8555809279793825,
    'intercept': np.float64(2019.5465662140489),
    'coeffs': [{'col-index': 8,
      'col-name': 'Overtime Earnings',
      'coeff': np.float64(3.558039090430056e-05)},
     {'col-index': 9,
      'col-name': 'Total Earnings',
      'coeff': np.float64(2.4922623337265483e-06)}]}}},
 {'target_index': 7,
  'target_name': 'Regular Earnings',
  'target_stats': {'mean': np.float64(31553.40951951952),
   'max': 202038.13,
   'min': 0.78},
  'models': {'sparse-lr': {'mse': 3.160278351151207e-11,
    'intercept': np.float64(1.0913936421275139e-11),
    'coeffs': [{'col-index': 8,
      'col-name': 'Overtime Earnings',
      'coeff': np.float64(-0.9999999999999851)},
     {'col-index': 9,
      'col-name': 'Total Earnings',
      'coeff': np.float64(0.9999999999999993)}]}}},
 {'target_index': 8,
  'target_name': 'Overtime Earnings',
  'target_stats': {'mean': np.float64(773.4965665665667),
   'max': 21905.28,
   'min': 0.0},
  'models': {'sparse-lr': {'mse': 6.902824566617844e-12,
    'intercept': np.float64(8.526512829121202e-12),
    'coeffs': [{'col-index': 7,
      'col-name': 'Regular Earnings',
      'coeff': np.float64(-1.0000000000000013)},
     {'col-index': 9,
      'col-name': 'Total Earnings',
      'coeff': np.float64(1.000000000000001)}]}}},
 {'target_index': 9,
  'target_name': 'Total Earnings',
  'target_stats': {'mean': np.float64(32326.906086086085),
   'max': 202038.13,
   'min': 0.78},
  'models': {'sparse-lr': {'mse': 1.277106715403009e-11,
    'intercept': np.float64(-1.4551915228366852e-11),
    'coeffs': [{'col-index': 7,
      'col-name': 'Regular Earnings',
      'coeff': np.float64(1.0000000000000004)},
     {'col-index': 8,
      'col-name': 'Overtime Earnings',
      'coeff': np.float64(1.0000000000000007)}]}}}]

### Compress with functions

In [5]:
# Use them for compression.
virtual.to_format(csv_filepath, 'example_virtual.csv', functions)

Schema
[{'name': 'Earnings Year', 'type': 'BIGINT', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Department', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Employee Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Position Title', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Union Name', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular or Temporary', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Full or Part Time', 'type': 'VARCHAR', 'null': {'any': False, 'all': False}, 'scale': 0, 'precision': 0}, {'name': 'Regular Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}, {'name': 'Overtime Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 7}, {'name': 'Total Earnings', 'type': 'DOUBLE', 'null': {'any': False, 'all': False}, 'scale': 2, 'precision': 8}]
train
                 0                         1                     2  \
0    Earnings Year                Department         Employee Name
1             2010                       Law         Allen,Marcy E
2             2010     Health-Administration       Peeling,Carol A
3             2010     Health-Administration      Picciano,Cindy L
4             2010     Health-Administration      Picciano,Cindy L
..             ...                       ...                   ...
995           2020  Probation-Administration      Foulke,Melissa G
996           2020  Probation-Administration        Gale,Lindsey E
997           2020  Probation-Administration  Garren,Jennifer Lynn
998           2020  Probation-Administration        Gill,Jeffrey M
999           2020  Probation-Administration       Green,William M

                               3                              4  \
0                 Position Title                     Union Name
1                      Secretary   Excluded Personnel (Admin I)
2       Spvg Public Health Nurse  Br Admin & Professional Assoc
3                  Sr Accountant      Non Union Equivalent - 07
4                  Sr Accountant  Br Admin & Professional Assoc
..                           ...                            ...
995       Probation Supervisor 1  Br Admin & Professional Assoc
996          Keyboard Specialist     CSEA Local 6150, Full-time
997          Keyboard Specialist     CSEA Local 6150, Full-time
998       Probation Supervisor 1  Br Admin & Professional Assoc
999  Probation Off 2/Sr Prob Off     CSEA Local 6150, Full-time

                        5                  6                 7  \
0    Regular or Temporary  Full or Part Time  Regular Earnings
1                       R                  F          38578.75
2                       R                  P          45259.79
3                       T                  P           1058.94
4                       R                  F          43137.16
..                    ...                ...               ...
995                     R                  F          69447.10
996                     R                  F          31920.79
997                     R                  F          25085.93
998                     R                  F          63575.63
999                     R                  F          62013.04

                     8               9
0    Overtime Earnings  Total Earnings
1                 0.00        38578.75
2                 0.00        45259.79
3                 0.00         1058.94
4                 7.67        43144.83
..                 ...             ...
995              67.07        69514.17
996               0.00        31920.79
997               0.00        25085.93
998             247.39        63823.02
999             285.13        62298.17

[1000 rows x 10 columns]

### Query the vanilla CSV file

In [6]:
import duckdb

duckdb.sql('select avg("Total Earnings") from read_csv("example.csv")').df()

   avg("Total Earnings")
0           32326.906086

### Query the virtualized CSV file

In [7]:
virtual.query(
  'select avg("Total Earnings") from read_csv("example_virtual.csv")',
  engine = 'duckdb'
)

   avg("Total Earnings")
0           32326.906086